*{
    font-size: 14pt;
}
.heading{
    margin-top: 5.6rem;
    margin-bottom: 3.2rem;
    font-size: 42pt;
    font-weight: 800;
}
.first-para{
    text-align: justify;
    width: 70vw;
}

@media screen and (max-width: 800px){
    .heading{
        margin-top: 5.6rem;
        margin-bottom: 3.2rem;
        font-size: 36pt;
        font-weight: 800;
    }
}