*{
    box-sizing: border-box;
}

.general-link{
    text-decoration: none !important;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.general-link a:hover {
    text-decoration: none !important;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
body{
    margin: 0;
    background-image: linear-gradient(#7700b3, #ff3399);
    color: white;
    /* min-height: 100vh; */
}
header{
    overflow: hidden;
    background-color: #3d004d;
    padding: 20px 10px;
}
header a{
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
header a:hover{
    text-decoration: none;
    color: white;
    background-color: #8a239e;
}
header a.logo{
    font-size: 25px;
    font-weight: bold;
}

.header-right{
    float:right;
}
@media screen and (max-width: 560px) {
    header a{
        float: none;
        display: block;
        text-align: left;
    }
    .header-right{
        float:none;
    }
}
.grid-container{
    margin: 5rem 0;
    display: flex;
    flex-wrap: wrap;
}
.text-container{
    flex: 50%;
    padding: 2rem 2rem;
    text-indent: 1.6rem;
    text-align: justify;
    color: white;
    font-family: Poppins;
    font-size: 14pt !important;
}
.image{
    /* box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26); */
    border-radius: 8px;
    flex: 50%;
}
@media screen and (max-width: 800px) {
    .container1{
        margin: 0 5rem;
        display: flex;
        flex-wrap: wrap;
    }
    .container2{
        flex-wrap: wrap-reverse;
        margin-bottom: 2rem;
    }
}
.btn-container{
    width: 100%;
    padding-bottom: 4rem;
}
.button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 0px 0px 21px #83d7e6;
    -moz-box-shadow: 0px 0px 21px #83d7e6;
    box-shadow: 0px 0px 21px #83d7e6;
    font-family: Arial;
    color: #ffffff;
    font-size: 23px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0px;
}

.button:hover {
    background: #3cb0fd;
    text-decoration: none;
    transform: scale(1.1);
    /* padding: 12px 22px 12px 22px; */
}
.how-to{
    text-align: justify;
    color: white;
}

footer{
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #3d004d;
    width: 100%;
    position: relative;
    bottom: 0;
}
.link-text a{
    color: white;

}
.card{
    position: relative;
    width: 400px;
    top: 10%;
    left: calc(50% - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    background-color: black;
}
.card1{
    position: relative;
    width: 400px;
    top: auto;
    left: calc(50% - 200px);
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    background-color: white;

}
.input-fields{
    display: block;
    width: 100%;
    margin: 00.6rem 0;
    border-radius: 40px;
    border: 1px #ffffff solid;
    background-color: rgb(238, 238, 238);
    padding: 0.6rem;
    color: rgb(51, 51, 51);
}
.input-fields::placeholder{
    color: rgb(102, 102, 102);
}
input:focus{
    border: none;
}
.background-transparent{
    margin: 2.4rem;
    padding: 1.6rem;
}
.terms_and_conditions{
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    justify-content: space-between;
}
form{
    padding: 1.6rem 1.6rem 0 1.6rem;
}
form input:focus{
    border: none !important;
    outline: none;
}
input[type=submit] {
    color: white;
    background-color: #7700b3;
    border-radius: 20px;
    padding: 0.6rem 0.8rem;
    margin: 0.8rem 0;
    border: none;
}
input[type=submit]:hover {
    background: #9324ca;
    text-decoration: none;
    transform: scale(1.1);
    box-shadow: 0 0 30px 3px #9324ca;
}

.container-stuff{
    min-height: calc(100vh - 69px);
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%
}
.file-upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    background-color: white;
    width: 49%;
}
.equation-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 49%;
}

@media screen and (max-width: 800px) {
    .container-stuff{
        flex-direction: column;
        justify-content: center;
    }
    .file-upload-container{
        padding-top: 1.6rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .equation-container{
        width: 100%;
    }
}
.file-upload-field{
    padding: 1.6rem;
    border: 4px black dashed;
}
@media screen and (max-width: 980px) {
    .file-upload-field{
        padding: 0.6rem;
        border: 4px black dashed;
    }
}

.patch{
    width: 100%;
}
.patch input{
    width: 100%;
    margin: 10px 0;
    border-radius: 40px;
    border: 1px #ffffff solid;
    background-color: rgb(238, 238, 238);
    padding: 0.6rem;
    color: rgb(51, 51, 51);
}
.equations-form{
    padding: 1.6rem;
    width: 100%;
}
main{
    min-height: calc(100vh - 199px);
}
img{
    width: 100%;
    height: auto;
}
img:hover{
    transform: scale(1.1);
}
#agreement{
    margin-right: 1rem;
}
.msg{
    padding: 2rem;
    border-radius: 8px;
}