*{
    box-sizing: border-box;
}
/* user_registration.html */
.card{
    position: relative;
    width: 400px;
    top: 10%;
    left: calc(50% - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    background-color: black;
}
/* user_login.html */
.card1{
    position: relative;
    width: 400px;
    top: auto;
    left: calc(50% - 200px);
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    background-color: white;

}
/* user_registration.html */
/* user_login.html */
.input-fields{
    display: block;
    width: 100%;
    margin: 00.6rem 0;
    border-radius: 40px;
    border: 1px #ffffff solid;
    background-color: rgb(238, 238, 238);
    padding: 0.6rem;
    color: rgb(51, 51, 51);
}
/* user_registration.html */
/* user_login.html */
.input-fields::placeholder{
    color: rgb(102, 102, 102);
}
input:focus{
    border: none;
}
.background-transparent{
    margin: 2.4rem;
    padding: 1.6rem;
}
.terms_and_conditions{
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    justify-content: space-between;
}
form{
    padding: 1.6rem 1.6rem 0 1.6rem;
}
form input:focus{
    border: none !important;
    outline: none;
}
input[type=submit] {
    color: white;
    background-color: #0099FF;
    border-radius: 20px;
    padding: 0.6rem 0.8rem;
    margin: 0.8rem 0;
    border: none;
}
input[type=submit]:hover {
    background: #0099FF;
    text-decoration: none;
    transform: scale(1.1);
    box-shadow: 0 0 30px 3px #0099FF;
}
/* In user_registration.html */
.container-stuff{
    min-height: calc(100vh - 69px);
    margin: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%
}
.file-upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    background-color: white;
    width: 49%;
}
.equation-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 49%;
}

@media screen and (max-width: 800px) {
    .container-stuff{
        flex-direction: column;
        justify-content: center;
    }
    .file-upload-container{
        padding-top: 1.6rem;
        margin-bottom: 2rem;
        width: 100%;
    }
    .equation-container{
        width: 100%;
    }
}
.file-upload-field{
    padding: 1.6rem;
    border: 4px black dashed;
}
@media screen and (max-width: 980px) {
    .file-upload-field{
        padding: 0.6rem;
        border: 4px black dashed;
    }
}

.patch{
    width: 100%;
}
.patch input{
    width: 100%;
    margin: 10px 0;
    border-radius: 40px;
    border: 1px #ffffff solid;
    background-color: rgb(238, 238, 238);
    padding: 0.6rem;
    color: rgb(51, 51, 51);
}
.equations-form{
    padding: 1.6rem;
    width: 100%;
}

#agreement{
    margin-right: 1rem;
}
.msg{
    padding: 2rem;
    border-radius: 8px;
}

