{% extends 'project_app/base.html' %}
{% block title %}
Graph-Ex | About Page
{% endblock title %}
{% block content %}
{% load static %}
<main>
    <div class="svg-background">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 320">
            <path fill="#0099ff" fill-opacity="1" d="M0,96L48,90.7C96,85,192,75,288,80C384,85,480,107,576,133.3C672,160,768,192,864,202.7C960,213,1056,203,1152,213.3C1248,224,1344,256,1392,272L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path>
        </svg>
    </div>
    <center><h1 class="heading">Graph-Ex</h1></center>
    <div class="container">
        <h2>Introductions:</h2>
        <center>
            <p class="first-para">
                This project was created as a term project for DSA 2021. <a href="https://github.com/tajammulnaeem">Tajammul Naeem</a> and I (<a href="https://github.com/nabeelraza-7">Nabeel Raza</a>) collaborated to create something
                that we have not worked on previously.
                We both are students at the prestigious institution of University of Engineering &amp; Technology, Lahore majoring in 
                Computer Engineering. We wish to create more useful tools for our society and make coding a culture in Pakistan.
            </p>
        </center>
        <h2>Motivations:</h2>
        <center>
            <p class="first-para">
                Some students were observed to have difficulty understanding how graphs are plotted so this utility is to help them.
                Moreover, we wanted to try and explore the field of Artificial Intelligence. So we decided to create this project.
            </p>
        </center>
        <h2>Learning Outcomes:</h2>
        <center>
            <p class="first-para">
                This project introduced us to Machine Learning and Deep Learning concepts. We used Kaggle to create our model. 
                Furthermore, we used Django to learn how websites are created. We learned all this in the three months of time span.
                We ought to practice more but due to strict time deadlines and continuous headaches (due to DSA assignments) we had 
                to make do with what little we could learn. More things, like scaling the graph, better usage of equations can be expected.
            </p>
        </center>
    </div>
</main>
{% endblock content %}