{% extends 'project_app/base.html' %}
{% block title %}
Graph-Eq | Home Page
{% endblock title %}
{% block content %}
{% load static %}
<main>
    {% if request.user.is_authenticated %}
    <center><h4 class="text-white mt-2">Hi, {{ request.user }}</h4></center>
    {% endif %}
    <div class="grid-container container container1">
        <div class="text-container" width="300px" height="300px">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quasi magni, placeat unde obcaecati
            dolorum nisi accusamus, provident culpa blanditiis deleniti? Omnis distinctio, porro atque suscipit sit
            praesentium, deserunt officia incidunt mollitia recusandae, hic laborum at temporibus repudiandae
            facilis quae possimus aperiam ad ea quaerat soluta natus tenetur. Repellendus, distinctio.
        </div>
        <div class="image ld ld-throw-rtl-in">
            <img src="{% static '/images/car.jpeg' %}" alt="car" height="300px">
        </div>
    </div>
    <div class="grid-container container container2">
        <div class="image ld ld-throw-ltr-in">
            <img src="{% static '/images/car.jpeg' %}" alt="car" height="300px">
        </div>
        <div class="text-container" width="300px" height="300px">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quasi magni, placeat unde obcaecati
            dolorum nisi accusamus, provident culpa blanditiis deleniti? Omnis distinctio, porro atque suscipit sit
            praesentium, deserunt officia incidunt mollitia recusandae, hic laborum at temporibus repudiandae
            facilis quae possimus aperiam ad ea quaerat soluta natus tenetur. Repellendus, distinctio.
        </div>
    </div>
    <center>
        <div class="btn-container">
            <a href="{% url 'plot' %}"><input class="button" type="button" value="Start Plotting"></a>
        </div>
        <h4 class="text-white">How to use?</h4>
        <div class="how-to container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam pariatur
            repellendus blanditiis vero
            aliquid, minus dolorem facilis at consequuntur consectetur eum vitae laborum. Veritatis natus repellat
            totam quibusdam sunt, qui corporis. Molestiae commodi distinctio molestias culpa dolores temporibus
            tempora minima reprehenderit quidem blanditiis animi nisi ipsum odit, dolor atque dicta!
            <ul>
                <li>Step 1:</li>
                <li>Step 2:</li>
                <li>Step 3:</li>
                <li>Step 4:</li>
            </ul>
        </div>

    </center>

</main>
{% endblock content %}