{% extends 'project_app/base.html' %}
{% block title %}
Graph-Eq | Log In
{% endblock title %}
{% block content %}
<main>
    <div class="background-transparent">
        <div class="card1 ld ld-throw-btt-in"  width="300px" height="300px">
            <form action="" method="post">
                <center><input class="input-fields" type="text" placeholder="Username / Email" required></center>
                <center><input class="input-fields" type="password" name="passwordField" id="passwordField"
                    placeholder="Password"></center>
                    <small>Don't have an account? <a href="{% url 'user_registration' %}">Create an account</a></small>
                <center><input class="register" type="submit" value="Log In"></center>
            </form>
        </div>
    </div>
</main>
{% endblock content %}